@using ServerManager.Models

@if(SelectedServer is not null)
{
<div class="row">
    <div class="input-group">
        <span class="input-group-text">Наименование</span>
        <input class="form-control" aria-label="С текстовым полем" @bind="SelectedServer.Name" />
    </div>
    <div class="input-group">
        <span class="input-group-text">Адрес</span>
        <input class="form-control" aria-label="С текстовым полем" @bind="SelectedServer.IpAddress" />
    </div>
</div>
}

@code {

    [Parameter]
    public CoreModels.ServerDto? SelectedServer { get; set; }

    

}

